
#b_link_1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_2{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_3{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}


#b_link_4{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}


#b_link_5{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_6{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_7{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_8{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_9{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_10{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_11{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_12{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_13{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_14{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}

#b_link_15{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 20px;
}
